<!DOCTYPE html>
<html>
  <head>
    <title>Fleetio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-100">
    <div class="container mx-auto px-24 py-24">
      <header class="flex justify-between items-center px-10 py-14">
        <div>
          <%= image_tag "logo.png", alt: "Fleetio: CarLookup", class: "block h-16" %>
        </div>
        <div class="font-medium text-gray-600">
          <a class="no-underline hover:underline" href="#">Vehicles</a>
          |
          <a class="no-underline hover:underline" href="#">About</a>
        </div>
      </header>
      <div class="pt-16 px-24 py-14">
        <% flash.each do |name, msg| -%>
          <% if name == "error" %>
            <% alert = "bg-red-500" %>
          <% else %>
            <% alert = "bg-green-500" %>
          <% end %>
          <div class="p-5 border rounded <%= alert %> font-semibold text-gray-600 text-center uppercase tracking-wide"">
            <%= msg %>
          </div>
        <% end %>

        <div class="mt-2">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
